<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="${title}"></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
	<div class="container">
		<br>
		<div class="row text-center">
			<div class="col">
				<h1 th:text="${title}"></h1>
		    </div>
		</div>
		<br>
		<div class="row">
			<div class="col">
				<a th:href="@{/list}" class="btn btn-link" role="button">Volver</a>
		    </div>
		</div>
		<br>
		<form th:action="@{/form}" method="post" th:object="${product}" enctype="multipart/form-data">
			<input th:if="${product.id != null}" type="hidden" th:field="*{id}"/>
			<input th:if="${product.photo != null}" type="hidden" th:field="*{photo}"/>
			<div class="row">
				<div class="col">
					<small style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
					<div class="form-floating mb-3">
						<input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Nombre">
						<label for="name">Nombre</label>
					</div>
			    </div>
				<div class="col">
					<small style="color: red;" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>
					<div class="input-group mb-3">
						<span class="input-group-text">€</span>
						<div class="form-floating">
						    <input th:field="*{price}" type="text" class="form-control" id="price" placeholder="Precio">
						    <label for="price">Precio</label>
						</div>
					</div>
			    </div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-floating mb-3">
						<input th:field="*{createAt}" type="date" class="form-control" id="createAt" placeholder="Fecha">
					 	<label for="createAt">Fecha</label>
					</div>
				</div>
				<div class="col">
					<div class="form-floating">
					 	<select th:field="*{category.id}" class="form-select" id="category.id" aria-label="Categoria">
						    <option value="" selected>-- Seleccionar --</option>
							<option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
					  	</select>
					 	<label for="category.id">Categoria</label>
						<small style="color: red;" th:if="${#fields.hasErrors('category.id')}" th:errors="*{category.id}"></small>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="mb-3">
						<label for="file" class="form-label">Foto</label>
						<input type="file" id="file" name="file" class="form-control">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<input th:value="${button}" type="submit" class="btn btn-primary">
				</div>
			</div>
		</form>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>