<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${titulo}">Insert title here</title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<div>
		<a th:href="@{/listar}">Volver</a>
		<form th:action="@{/form}" method="post" th:object="${producto}">
			<input th:if="${producto.id != null}" type="hidden" th:field="*{id}"/>
			<div>
				<label for="nombre">Nombre</label>
				<div><input type="text" th:field="*{nombre}"/></div>
			</div>
			<div>
				<label for="precio">Precio</label>
				<div><input type="number" th:field="*{precio}"/></div>
			</div>
			<div>
				<label for="createAt">Fecha</label>
				<div><input type="date" th:field="*{createAt}"/></div>
			</div>
			<div>
				<div><input type="submit" value="Crear"/></div>
			</div>
		</form>
	</div>
</body>
</html>