<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${titulo}">Insert title here</title>
</head>
<body>
	<div th:if="${param.error != null}" th:text="${param.error}"></div>
	<div th:if="${param.success != null}" th:text="${param.success}"></div> 
	<h1 th:text="${titulo}"></h1>
	<a th:href="@{/form}">Crear +</a>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Precio</th>
				<th>Fecha</th>
				<th>Categoria</th>
				<th>Editar</th>
				<th>Eliminar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="producto: ${productos}">
				<td>
					<a th:href="@{/ver/} + ${producto.id}" th:text="${producto.id}"></a>
				</td>
				<td th:text="${producto.nombre}"></td>
				<td th:text="${producto.precio}"></td>
				<td th:text="${producto.createAt}"></td>
				<td th:text="${producto.categoria.nombre}"></td>
				<td>
					<a th:href="@{/form/} + ${producto.id}">Editar</a>
				</td>
				<td>
					<a th:href="@{/eliminar/} + ${producto.id}" onclick="return confirm('Estás seguro que desea eliminar?');">Eliminar</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>