<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${titulo}">Ver productos</title>
</head>
<body> 
	<h1 th:text="${titulo}"></h1>
	<a th:href="@{/list}">Volver</a>
	<div>
		<div>
			<img th:if="${producto.photo != null && #strings.length(producto.photo) > 0}"
				th:src="@{/uploads/img/} + ${producto.photo}" th:alt="${producto.name}" style="max-width: 25%;"/>
		</div>
		<ul>
			<li th:text="${producto.name}"></li>
			<li th:text="'Id: ' + ${producto.id}"></li>
			<li th:text="'Precio: ' + ${#numbers.formatCurrency(producto.price)}"></li>
			<li th:text="'Fecha: ' + ${#calendars.format(producto.createAt, 'dd/MM/yyyy')}"></li>
		</ul>
	</div>
</body>
</html>